# Binaries
/pooldigital-mock
/dist/
/bin/

# Test/coverage artifacts
coverage.out
coverage.html
*.test
*.prof

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
*.swp
*.swo
